/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body{
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  display: block;
}

h1{
  margin: 0.6em 0;
}

strong{
 font-weight: bold;
}

p{
  margin: 33px;
}

table{
  display: table;
  border-collapse: collapse;
}

thead{
  display: table-header-group;
}

th{
  display: table-cell;
  padding: 1px 1px 5px 1px;
}

td{
  padding: 1px 5px 7px;
}

h2{
  margin: 0.8em 0;
}

.field{
  margin-bottom: 10px;
}

.submit{
  margin-bottom: 10px;
}

input{
  padding: 1px 2px;
  text-align: center;
  cursor: default;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}